body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: darkblue;
}

h3 {
    color: green;
}

p {
    font-family: 'Times New Roman', Times, serif;
}